<div class='ing_info_wrap'>
  <% @contents2.each do |v| %>
  <div class='ing_info_title ing_info'>
    Title : <%= v.title %>
    </div>
  <div class='ing_info_description ing_info'>
    Description : <%= v.description %>
  </div>
  <% end %>
</div>
