.form_warp {width: 50%;margin: 0 auto;padding: 20px 0;}

ol {border-top: 2px solid #000;}
ol>li { padding: 6px 0px; border-bottom: 1px solid #e2e2e2;}

.list_img { display: inline-block; width: 20%; }
.list_info { display: inline-block; width: 76%; }
img { width: 150px; }
